html { min-width: 840px; }

body, div, td, th, h2, h3, h4 {
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 0;
}

body {
	background: #fff;
	margin: 0;
}

a, a:visited {
	text-decoration: none;
	color: #428ad4;
}

a:active, a:hover {
	text-decoration: underline;
}

#header {
	height: 60px;
	border-bottom: 1px solid #555;
	background-color: #eee;
}

#right {
	float: right;
	height: 100%;
}

#loggedin {
	padding: 5px 5px 0 0;
	text-align: right;
	font-weight: bold;
	font-size: 10px;
}

#title {
	float: left;
	font-size: 28px;
	font-weight: bold;
	padding: 26px 0 0 12px;
}

#menu {
	font-weight: bold;
	font-size: 14px;
	padding: 22px 12px 0 0;
	margin: 0;
}

#content {
	background: #fff;
	min-height: 400px;
	padding: 12px;
}

#message {
	font-weight: bold;
	padding: 16px 0;
	text-align: center;
	border: 1px solid;
}

.error {
	color: #f33;
	background-color: #fdd;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

#add-box {
	background: #eee;
	border: 1px solid #333;
	padding: 16px;
}

.torrent {
	margin-bottom: 8px;
	padding: 4px;
	background: #eee;
	border: 1px solid #333;
}

.torrent table {
	padding: 0;
	width: 100%;
}

.torrent .title {
	width: 100%;
	font-weight: bold;
}

.torrent .nav {
	white-space: nowrap;
	vertical-align: middle;
}

.prog-bar {
	height: 10px;
	width: 90%;
	margin: 2px 0;
	padding: 0;
	background: #ddd;
}

.prog-bar-inactive {
	height: 10px;
	background: #666362;
}

.prog-bar-leech {
	height: 10px;
	background: #369;
}

.prog-bar-seed {
	height: 10px;
	background: #347C17;
}
